cchardet
aiodns
aiohttp==3.2.1
lxml==4.2.1
PyMySQL==0.8.1
aiomysql==0.0.12
python-decouple==3.1
schema==0.6.7
APScheduler==3.5.1
zxcvbn==4.4.26
email-validator==1.0.3
bcrypt==3.1.4
aioredis==1.1.0
aiotg==0.9.9
raven-aiohttp==0.7.0