swagger: '2.0'
info:
  version: 1.0.1
  title: EmaNews API
host: emanews.nyodev.xyz
basePath: /api/v1
tags:
  - name: private
    description: Handler per operazioni effettuate dal frontend
  - name: public
    description: 'Handler per operazioni sui dati offerti dall''EMA'
  - name: protected
    description: Handler che richiedono il login
  - name: guests
    description: Handler accessibili solo agli ospiti
schemes:
  - http
  - https
paths:
  /ping:
    get:
      tags:
        - private
      summary: Verifica se l'api è online
      operationId: ping
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: L'API è online
          schema:
            type: object
            properties:
              message:
                type: string
                default: ok
              version:
                type: string
                default: 1.0.1
                description: Versione dell'API
        '405':
          description: Metodo non valido
  '/activate/{token}':
    post:
      produces:
        - application/json
      tags:
        - private
        - guests
      summary: Attiva un account appena registrato
      responses:
        '200':
          $ref: '#/responses/Ok'
        '404':
          description: Token di attivazione non trovato
          schema:
            type: object
            properties:
              status:
                type: string
                default: '404'
              message:
                type: string
                description: Token di attivazione non valido
        '405':
          $ref: '#/responses/MethodNotAllowed'
      parameters:
        - name: token
          in: path
          required: true
          type: string
          description: Token di attivazione dell'account
  /herbs:
    get:
      produces:
        - application/json
      tags:
        - public
        - protected
      security:
        - API Key: []
        - API Key Header: []
        - Cookie di sessione: []
      summary: >-
        Effettua una ricerca tra erbe medicinali memorizzate. Permette di
        ritornare anche i documenti associati alle erbe medicinali.
      responses:
        '200':
          description: Risultati ricerca
          schema:
            type: object
            properties:
              herbs:
                $ref: '#/definitions/Herb'
              total:
                type: string
                description: Numero totale di risultati
                example: '268'
        '401':
          $ref: '#/responses/NotAuthenticated'
        '405':
          $ref: '#/responses/MethodNotAllowed'
      parameters:
        - name: query
          in: query
          type: string
          description: >-
            Filtro per nome. Può essere inserito una parte di un nome latino,
            botanico o inglese.
        - name: fetch_documents
          in: query
          type: boolean
          description: >-
            Se `true`, vengono ritornati insieme alle erbe anche i relativi
            documenti nell'attributo `documents` di ogni erba, altrimenti
            vengono ritornate solo le erbe.
        - name: limit
          in: query
          type: number
          description: >-
            Numero massimo di risultati da ritornate. Usare 0 per disattivare il
            limite e ritornare tutti i risultati.
        - name: page
          in: query
          type: number
          description: >-
            Da usare insieme a `limit` per implementare la paginazione dei
            risultati. Il numero delle pagine parte da 0.
        - name: order_by
          in: query
          type: string
          enum:
            - latin_name
            - botanic_name
            - english_name
            - status
            - latest_update
          description: Parametro di ordinamento dei risultati.
        - name: direction
          in: query
          type: string
          enum:
            - asc
            - desc
          description: Ordinamento crescente o decrescente.
      operationId: searchHerbs
      consumes:
        - application/json
  /api_keys:
    get:
      produces:
        - application/json
      tags:
        - private
        - protected
      security:
        - API Key: []
        - API Key Header: []
        - Cookie di sessione: []
      summary: Elenca le API Key dell'account
      operationId: listApiKeys
      responses:
        '200':
          description: Lista delle API key
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  example: '1'
                  description: ID interno dell'API Key.
                name:
                  type: string
                  example: la mia api key
                  description: 'Nome dell''API key, scelto dall''utente.'
        '400':
          $ref: '#/responses/InvalidArgumentsError'
        '401':
          $ref: '#/responses/NotAuthenticated'
        '405':
          $ref: '#/responses/MethodNotAllowed'
    post:
      produces:
        - application/json
      tags:
        - private
      security:
        - API Key: []
        - API Key Header: []
      summary: Crea una nuova API key
      operationId: newApiKey
      responses:
        '200':
          description: API Key creata
          schema:
            type: object
            properties:
              message:
                type: string
                default: ok
              key:
                type: string
                description: API Key in chiaro. Non verrà mai più mostrata.
                example: lsSBBzlRIUlMbnPYcZfrD16VRc8cbw8a
        '400':
          $ref: '#/responses/InvalidArgumentsError'
        '401':
          $ref: '#/responses/NotAuthenticated'
        '405':
          $ref: '#/responses/MethodNotAllowed'
      parameters:
        - in: body
          name: api_key_data
          required: true
          schema:
            type: object
            properties:
              key:
                type: string
                description: 'Nome dell''API Key, scelto dall''utente'
                example: prova
  '/api_keys/{id}':
    delete:
      responses:
        '200':
          $ref: '#/responses/Ok'
        '400':
          $ref: '#/responses/InvalidArgumentsError'
        '401':
          $ref: '#/responses/NotAuthenticated'
        '405':
          $ref: '#/responses/MethodNotAllowed'
      produces:
        - application/json
      tags:
        - private
        - protected
      security:
        - API Key: []
        - API Key Header: []
        - Cookie di sessione: []
      summary: Elimina una API Key associata a questo account
      operationId: deleteApiKey
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: ID dell'API Key da eliminare
      description: >-
        Elimina una API Key. L'API key da eliminare deve essere collegata
        all'account in questione. In caso contrario, verrà sempre ritornato un
        messaggio affermativo (status code 200), ma la key non verrà eliminata.
  /login:
    post:
      produces:
        - application/json
      tags:
        - private
        - guests
      summary: Effettua il login
      operationId: login
      responses:
        '200':
          description: >-
            Login effettuato con successo. Verrà impostato il cookie `session`
            dal server.
          schema:
            type: object
            properties:
              message:
                type: string
                default: ok
                description: Messaggio che descrive il risultato della richiesta.
                example: ok
        '400':
          $ref: '#/responses/InvalidArgumentsError'
        '403':
          description: Accesso negato (password errata o account non ancora attivo)
          schema:
            type: object
            properties:
              status:
                type: integer
                default: '403'
              message:
                type: string
                default: La password inserita è errata
        '404':
          description: Email inesistente
          schema:
            type: object
            properties:
              status:
                type: integer
                default: '404'
              message:
                type: string
                default: L'indirizzo email inserito non è associato a nessun account
        '405':
          $ref: '#/responses/MethodNotAllowed'
      parameters:
        - name: credentials
          in: body
          required: true
          schema:
            type: object
            properties:
              email:
                type: string
                example: mario@rossi.com
                description: Indirizzo email dell'utente
              password:
                type: string
                example: aWxzdXNsZWFrQA
                description: Password (in chiaro)
      description: >-
        Effettua il login. **La connessione dovrebbe avvenire in HTTPs, poichè
        la password viene trasmessa in chiaro.**
      schemes:
        - https
      consumes:
        - application/json
  /logout:
    post:
      tags:
        - private
        - protected
      summary: Effettua il logout
      description: Effettua il logout
      operationId: logout
      responses:
        '200':
          description: >-
            Logout avvenuto con successo. Il cookie `session` verrà resettato
            dal server.
          schema:
            type: object
            properties:
              status:
                type: integer
                default: '200'
              message:
                type: string
                default: ok
        '401':
          $ref: '#/responses/NotAuthenticated'
        '405':
          $ref: '#/responses/MethodNotAllowed'
        '406':
          description: L'autenticazione non è avvenuta con il cookie `session`
          schema:
            type: object
            properties:
              status:
                type: integer
                default: '406'
              message:
                type: string
                default: Can't logout.
      produces:
        - application/json
      security:
        - Cookie di sessione: []
  /zxcvbn:
    get:
      produces:
        - application/json
      tags:
        - private
      summary: Calcola la complessità di una password
      operationId: zxcvbn
      responses:
        '200':
          description: Complessità password
          schema:
            type: object
            properties:
              strength:
                type: integer
                example: '75'
                description: Da 0 (per niente sicura) a 100 (molto sicura)
                format: int32
        '400':
          $ref: '#/responses/InvalidArgumentsError'
        '405':
          $ref: '#/responses/MethodNotAllowed'
      parameters:
        - name: input
          in: query
          type: string
          description: Password
  /user:
    post:
      produces:
        - application/json
      tags:
        - private
        - guests
      summary: Registra un nuovo utente
      operationId: signUp
      responses:
        '200':
          $ref: '#/responses/Ok'
        '400':
          $ref: '#/responses/InvalidArgumentsError'
        '403':
          $ref: '#/responses/AlreadyLoggedInError'
        '405':
          $ref: '#/responses/MethodNotAllowed'
        '409':
          description: Esiste già un altro utente registrato con questo indirizzo email
          schema:
            type: object
            properties:
              status:
                type: integer
                default: '409'
              message:
                type: string
                default: >-
                  Esiste già un altro utente registrato con questo indirizzo
                  email
      parameters:
        - name: user_data
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: Nome dell'utente. Tra i 2 e i 64 caratteri (compresi)
                example: Mario
              surname:
                type: string
                example: Rossi
                description: Cognome dell'utente. Tra i 2 e i 64 caratteri (compresi)
              email:
                type: string
                example: mario@rossi.com
                description: Indirizzo email dell'utente
              password:
                type: string
                example: aWxzdXNsZWFrQA
                description: Password dell'utente (in chiaro)
            required:
              - password
              - email
              - surname
              - name
      schemes:
        - https
      description: >-
        Registra un nuovo utente. **La connessione dovrebbe avvenire in HTTPS,
        poichè la password viene trasmessa in chiaro.**
    get:
      produces:
        - application/json
      tags:
        - private
        - protected
      security:
        - API Key: []
        - API Key Header: []
        - Cookie di sessione: []
      summary: Ritorna le informazioni dell'utente attualmente loggato
      responses:
        '200':
          description: Informazioni dell'utente loggato
          schema:
            type: object
            properties:
              id:
                type: number
                example: '1'
              name:
                type: string
                example: Mario
              surname:
                type: string
                example: Rossi
              privileges:
                type: number
                default: '2'
              gravatar_hash:
                type: string
                description: >-
                  Hash email per gravatar [(docs
                  gravatar)](http://en.gravatar.com/site/implement/hash/)
                example: f12d0c1b13deed7f85761a68f30a6439
        '401':
          $ref: '#/responses/NotAuthenticated'
        '405':
          $ref: '#/responses/MethodNotAllowed'
  /notification_settings:
    get:
      produces:
        - application/json
      tags:
        - private
        - protected
      security:
        - API Key: []
        - API Key Header: []
        - Cookie di sessione: []
      summary: Ritorna le impostazioni delle notifiche dell'utente attualmente loggato
      operationId: getNotificationSettings
      responses:
        '200':
          description: Impostazioni notifiche
          schema:
            type: object
            properties:
              when:
                type: array
                items:
                  $ref: '#/definitions/NotificationWhen'
              by:
                type: array
                items:
                  $ref: '#/definitions/NotificationBy'
              telegram_linked:
                type: boolean
                description: >-
                  Se è `true`, l'account EmaNews è collegato ad un account
                  Telegram (le notifiche via Telegram potrebbero comunque non
                  essere attivate)
                example: trye
              herbs:
                type: array
                description: >-
                  Può essere un array di interi o un booleano.

                  - Se è `true`, tiene traccia degli aggiornamenti a tutte le
                  erbe e a tutti i documenti.

                  - Se è un array di interi, tiene traccia degli aggiornamenti
                  alle erbe i cui ID sono contenuti in questo array e ai
                  relativi documenti. Questo parametro riguarda solo
                  l'aggiornamento di erbe e documenti esistenti e non andrà a
                  filtrare le notifiche relative all'inserimento di nuove erbe.
                items:
                  type: integer
                  example: '15'
                  default: ''
        '401':
          $ref: '#/responses/NotAuthenticated'
        '405':
          $ref: '#/responses/MethodNotAllowed'
    post:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - protected
        - private
      security:
        - API Key: []
        - API Key Header: []
        - Cookie di sessione: []
      summary: Modifica le impostazioni delle notifiche per l'utente loggato
      operationId: setNotificationSettings
      responses:
        '200':
          $ref: '#/responses/Ok'
        '400':
          $ref: '#/responses/InvalidArgumentsError'
        '401':
          $ref: '#/responses/NotAuthenticated'
        '405':
          $ref: '#/responses/MethodNotAllowed'
      parameters:
        - name: new_settings
          in: body
          description: >-
            Nuove impostazioni. Verranno cambiate solo le impostazioni relative
            agli attributi presenti.
          schema:
            type: object
            properties:
              when:
                $ref: '#/definitions/NotificationWhen'
              by:
                $ref: '#/definitions/NotificationBy'
              herbs:
                type: array
                items:
                  type: integer
                  example: '13'
                description: >-
                  `true` (ricevi notifiche per tutte le erbe) o array di id di
                  erbe per cui ricevere le notifiche
  /telegram:
    get:
      produces:
        - application/json
      tags:
        - private
        - protected
      security:
        - API Key: []
        - API Key Header: []
        - Cookie di sessione: []
      summary: Avvia la procedura per il collegamento con account Telegram
      description: >-
        Ritorna il link per collegare l'account EmaNews con l'account Telegram
        (deep link) per collegare l'account EmaNews con un account Telegram.  

        Il link ha formato: `https://telegram.me/USERNAME_BOT?start=TOKEN`.  

        Il token è lungo 16 caratteri ed ha una durata di 60 minuti, scaduti i
        quali viene generato un nuovo token quando si chiama nuovamente questo
        handler.  

        L'utente dovrà cliccare sul link, aprire Telegram e cliccare su
        "Start".  

        _Maggiori informazioni sul deep linking sono riportate nella
        documentazione di Telegram.
        (https://core.telegram.org/bots#deep-linking)_
      operationId: getTelegramToken
      responses:
        '200':
          description: Deep link telegram
          schema:
            type: object
            properties:
              telegram_link:
                type: string
                example: 'https://telegram.me/EmaNewsBot?start=aW1lbWljb2xvcFif'
                description: Link per collegare l'account EmaNews con un account Telegram.
        '401':
          $ref: '#/responses/NotAuthenticated'
        '405':
          $ref: '#/responses/MethodNotAllowed'
        '406':
          description: >-
            L'account EmaNews dell'utente attualmente loggato è già collegato a
            Telegram
          schema:
            type: object
            properties:
              status:
                type: number
                default: ''
                example: '406'
              message:
                type: string
                example: Account già collegato con Telegram
    delete:
      produces:
        - application/json
      tags:
        - private
        - protected
      security:
        - API Key: []
        - API Key Header: []
        - Cookie di sessione: []
      summary: Scollega l'account EmaNews dell'utente loggato da Telegram
      description: >-
        Scollega l'account EmaNews dell'utente loggato da Telegram. Questo
        handler ritorna sempre una risposta positiva, anche se l'account
        dell'utente loggato non è collegato a Telegram.
      responses:
        '200':
          $ref: '#/responses/Ok'
        '401':
          $ref: '#/responses/NotAuthenticated'
        '405':
          $ref: '#/responses/MethodNotAllowed'
  '/password_recovery':
    post:
      produces:
        - application/json
      tags:
        - private
        - guests
      summary: Invia una mail per il recupero password
      responses:
        '200':
          description: Richiesta elaborata. Viene ritornata questa risposta **anche se l'indirizzo email inserito non è collegato a nessun account.**
          schema:
            type: object
            properties:
              message:
                type: string
                description: È sempre 'ok'
                default: 'ok'
        '405':
          $ref: '#/responses/MethodNotAllowed'
        '400':
            $ref: '#/responses/InvalidArgumentsError'
        '403':
          $ref: '#/responses/AlreadyLoggedInError'
      parameters:
        - name: email
          in: query
          required: true
          type: string
          description: Indirizzo email dell'account che necessita il reset della password
  '/password_reset/{token}':
    get:
      produces:
        - application/json
      tags:
        - private
        - guests
      summary: Controlla se il token di reset password esiste e non è scaduto
      responses:
        '200':
          $ref: '#/responses/Ok'
        '404':
          description: Token di recupero password non trovato o scaduto
          schema:
            type: object
            properties:
              status:
                type: string
                default: '404'
              message:
                type: string
                description: Token non valido o scaduto.
        '405':
          $ref: '#/responses/MethodNotAllowed'
        '403':
          $ref: '#/responses/AlreadyLoggedInError'
      parameters:
        - name: token
          in: path
          required: true
          type: string
          description: Token di recupero password
    post:
      produces:
        - application/json
      tags:
        - private
        - guests
      summary: Reimposta la password di un account tramite il token di recupero password
      responses:
        '200':
          $ref: '#/responses/Ok'
        '404':
          description: Token di recupero password non trovato o scaduto
          schema:
            type: object
            properties:
              status:
                type: string
                default: '404'
              message:
                type: string
                description: Token non valido o scaduto.
        '405':
          $ref: '#/responses/MethodNotAllowed'
        '400':
          $ref: '#/responses/InvalidArgumentsError'
        '403':
          $ref: '#/responses/AlreadyLoggedInError'
      parameters:
        - in: path
          name: token
          required: true
          type: string
          description: Token di recupero password
        - in: body
          name: password
          required: true
          schema:
            type: string
          description: Nuova password (in chiaro)
definitions:
  Herb:
    type: object
    properties:
      id:
        type: integer
        format: int32
        example: '1'
        description: ID interno dell'erba medicinale
      latin_name:
        type: string
        example: Sambuci fructus
        description: Nome latino dell'erba medicinale. Fornito dall'EMA.
      botanic_name:
        type: string
        example: Sambucus nigra L.
        description: Nome botanico dell'erba medicinale. Fornito dall'EMA.
      english_name:
        type: string
        example: Elderberry
        description: Nome inglese dell'erba medicinale. Fornito dall'EMA.
      status:
        $ref: '#/definitions/HerbStatus'
      url:
        type: string
        example: >-
          http://www.ema.europa.eu/ema/index.jsp?curl=pages/medicines/herbal/medicines/herbal_med_000193.jsp&mid=WC0b01ac058001fa1d
        description: URL alla pagina del sito dell'EMA relativo all'erba medicinale.
      latest_update:
        type: integer
        format: int64
        description: >-
          UNIX timestamp dell'istante in cui è stato rilevato un aggiornamento
          sullo stato dell'erba medicinale o su un suo documento. Questa data è
          gestita internamente e non è fornita dal sito dell'EMA.
        example: '1398729600'
      documents:
        $ref: '#/definitions/Document'
    description: Rappresenta un'erba medicinale reperita dal sito dell'EMA.
  Document:
    type: object
    properties:
      id:
        type: integer
        format: int32
        description: ID interno del documento
        example: '1'
      type:
        $ref: '#/definitions/DocumentType'
      name:
        type: string
        example: >-
          Call for scientific data for use in HMPC assessment work on Sambucus
          nigra L., fructus
        description: Nome del documento. Fornito dall'EMA.
      language:
        type: string
        example: (English only)
        description: Lingua del documento. Fornita dall'EMA.
      first_published:
        type: integer
        example: '1318809600'
        description: >-
          UNIX timestamp della data di pubblicazione del documento. Fornita
          dall'EMA.
        format: int64
      last_updated_ema:
        type: integer
        format: int64
        description: >-
          UNIX timestamp dell'ultimo aggiornamento a questo documento. La data è
          fornita dal sito dell'EMA. È `null` se il documento non è mai stato
          aggiornato.
        example: 'null'
      url:
        type: string
        description: URL diretto al file PDF di questo documento
        example: >-
          http://www.ema.europa.eu/docs/en_GB/document_library/Herbal_-_Call_for_data/2011/10/WC500116585.pdf
      herb_id:
        type: integer
        example: '1'
        description: ID dell'erba medicinale a cui è collegato questo documento.
    description: Rappresenta un documento consultabile dal sito dell'EMA.
  HerbStatus:
    type: string
    enum:
      - R
      - C
      - D
      - P
      - PF
      - F
    description: |-
      Stato dell'erba medicinale. Possibili valori:
      * `R` - Rapporteur assigned
      * `C` - Ongoing call for scientific data
      * `D` - Draft under discussion
      * `P` - Draft published
      * `PF` - Assessment close to finalisation (pre-final)
      * `F` - Final opinion adopted
    example: F
  NotificationWhen:
    type: string
    enum:
      - NEW_MEDICINE
      - MEDICINE_UPDATE
      - NEW_DOCUMENT
      - DOCUMENT_UPDATE
    description: |
      Quando ricevere gli aggiornamenti:
      * `NEW_MEDICINE` - Una nuova medicina è stata inserita
      * `MEDICINE_UPDATE` - Una medicina esistente è stata aggiornata
      * `NEW_DOCUMENT` - Un nuovo documento è stato inserito
      * `DOCUMENT_UPDATE` - Un documento esistente è stato aggiornato
    example: NEW_MEDICINE
  NotificationBy:
    type: string
    enum:
      - EMAIL
      - TELEGRAM
    description: >-
      Come ricevere gli aggiornamenti:

      * `EMAIL` - Per email

      * `TELEGRAM` - Via Telegram (necessario collegamento account
      EmaNews-Telegram)
    example: TELEGRAM
  DocumentType:
    type: string
    enum:
      - consultation
      - other
    description: >-
      Tipo di documento.

      * `consultation` - Documento riportato nella scheda "Consultation" del
      sito dell'EMA.

      * `other` - Documento riportato nella scheda "All documents" del sito
      dell'EMA
    example: consultation
responses:
  Ok:
    description: Richiesta elaborata con successo
    schema:
      type: object
      properties:
        message:
          type: string
          default: ok
          example: ok
          description: Messaggio che descrive il risultato della richiesta.
  MethodNotAllowed:
    description: Il metodo HTTP utilizzato non è supportato da questo handler
    schema:
      type: string
      default: '405: Method Not Allowed'
      example: '405: Method Not Allowed'
  NotAuthenticated:
    description: È necessario autenticarsi per utilizzare questo handler
    schema:
      type: object
      properties:
        status:
          type: number
          default: ''
          example: '401'
          description: Coincide con lo status code della risposta HTTP del server.
        message:
          type: string
          default: not authenticated
          example: not authenticated
          description: Messaggio che descrive il risultato della richiesta.
  InvalidArgumentsError:
    description: Alcuni parametri non sono validi o mancano dei parametri obbligatori.
    schema:
      type: object
      properties:
        status:
          type: integer
          default: '400'
          example: '400'
          description: Coincide con lo status code della risposta HTTP del server.
        message:
          type: string
          default: Some arguments are not valid
          example: Some arguments are not valid
          description: Messaggio che descrive il risultato della richiesta.
  AlreadyLoggedInError:
    description: >-
      Metodo accessibile solo dagli ospiti, ma è presente una API Key o un
      cookie di sessione nella richiesta.
    schema:
      type: object
      properties:
        status:
          type: integer
          default: '403'
          example: '403'
          description: Coincide con lo status code della risposta HTTP del server.
        message:
          type: string
          default: You are already logged in
          example: You are already logged in
          description: Messaggio che descrive il risultato della richiesta.
securityDefinitions:
  API Key:
    type: apiKey
    description: API Key
    name: apikey
    in: query
  API Key Header:
    type: apiKey
    description: API Key
    name: X-EmaNews-Token
    in: header
  Cookie di sessione:
    type: basic
    description: Cookie di sessione
